# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\daniel.yagodaev\OneDrive - Kaltura\Workspace\Newrow\aws_sko\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
node_modules
.idea
.DS_STORE
config/
!config/default.json
!config/prd.json
